<h3>Create Food Item</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="item.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="item.category" name="category">
    </div>

    <div class="form-group">
      <label for="name">Ingredients</label>
      <input type="text" class="form-control" id="ingredients" required [(ngModel)]="item.ingredients" name="ingredients">
    </div>
    <div class="form-group">
      <label for="name">Instructions</label>
      <input type="text" class="form-control" id="instructions" required [(ngModel)]="item.instructions" name="instructions">
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>

